.confirmActionsWrapper {
  position: relative;
  background-color: #444;
  width: 400px;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 20px 15px 0px;
}
.confirmActionsWrapper > span {
  display: inline-block;
  background-color: #39393c;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
}


/* List */
.actionListWrapper {
  background-color: #333;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.actionToBeConfirmedDiv {
  display: flex;
  position: relative;
  align-items: center;
  padding: 6px 15px 6px;
}

.small {
  font-size: 0.8em;
  color: #aaa;
}

/* actionListHeader */
.actionListHeader {
  margin-top: 10px;
  background-color: #242424;
  padding: 8px 15px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* .actionListHeader *, .actionListWrapper * {
  border: 1px solid #fefefe;
} */

/* List item */
.actionToBeConfirmedDiv, .actionListHeader {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.actionListHeader > * {
  flex: 1 1 22px;
}
.actionListHeader > span:last-child {
  text-align: right;
}

/* Specific widths */
.actionListType, .actionListID {
  align-self: flex-start;
}

.actionToBeConfirmedDiv > span {
  flex: 1 1 6px;
}
.actionToBeConfirmedDiv > span:nth-child(3), .actionListHeader > span:nth-child(3) {
  flex: 2 2 30px;
}

/* color them */
.actionToBeConfirmedDiv:nth-child(odd){
  background-color: #2d2c2c;
}
.actionToBeConfirmedDiv:nth-child(even) {
  background-color: #262626;
}
.actionToBeConfirmedDiv:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* confirmAllButton */
.confirmAllButton {
  border: none;
  border-radius: 4px;
  background-color: #106f78;
  color: #fefefe;
  cursor: pointer;
  float: right;
  padding: 8px 25px;
  margin: 10px auto;
  margin-right: 5px;
}
.confirmAllButton:hover {
  background-color: #296267;
}

/* Icon */
.actionToBeConfirmedDiv > div > i:hover {
  cursor: pointer;
  color: #106f78;
}
